#about{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.contentAbout{
    padding: 2%;
}

.contentAbout h1{
    font-size: 50px;
}

.descricao{
    font-size: 20px;
    font-weight: 700;
    color: rgb(41, 41, 41);
}

.progContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 243);
    border-radius: 20px;
    border: 1px solid black;
    padding: 2% 2%;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

.programacao{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: flex-start; */
    /* background-color: white; */
    cursor: text;
}

.p_function{
    color: blue;
}

.p_normal, .p_parentheses, .p_keys{
    color: black;
}

.p_method{
    color: green;
}

.p_methodE{
    color: red;
}

.p_tab{
    margin-left: 20px;
}




