header{
    width: 100%;
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    
    /* background-color: rgba(255, 255, 255, 0.192); */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    
    
    /* border-bottom: 1px solid var(--border); */
    /* backdrop-filter: blur(10px); */
    padding: 10px 40px;
}


/* h_socials */
.h_socials{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* gap: 10%; */
    padding: 2% 0;
    /* background-color: #000000; */
}

.h_icon{
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 2%;
}

.h_socialIcons{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    
    /* background-color: aqua; */
} 

.h_socialIcons, i{
    font-size: 18px;
}

.h_socialContact{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    /* background-color: aquamarine; */
}

.fortelefone{
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 2%;
}

.tel{
    font-size: 18px;    
}



/* h_contents  */
.h_contents{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 1% 0;
    /* background-color: aqua; */
}

.h_li{
    cursor: pointer;
    color: var(--textColor);
  
    font-size: 20px;
    font-weight: 800;

    /* background-color: #000000; */
}

.h_li:hover{
    color: #000000;
}

#brand{
    /* width: fit-content; */
  
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    font-size: 80px;
    font-weight: 900;
    /* background-color: #000000; */
}







.logo{
    color: var(--textColor);
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    transition: 1s;
}


#toggle-dark{
    visibility: hidden;
    height: 0;
    width: 0;
}

#toggle{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle ion-icon{
    font-size: 25px;
    transition: 0.2s;   
}

#toggle ion-icon:hover{
    cursor: pointer;
    font-size: 25px;
}