@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --background: black;
    --borderline: white;
    --textColor: white;
    --border: white;
    --descricao: rgb(41, 41, 41);
    --progBackground: rgb(182, 182, 243);

    --p_function:blue;
    --p_normal: black;
    --p_parentheses: black;
    --p_keys: black;
    --p_method: green;
    --p_methodE:red;
}

html[data-theme="dark"]{
    --background: black;
    --borderline: white;
    --textColor: white;
    --border: rgb(170, 170, 170);
    --descricao:rgb(180, 180, 180);
    --progBackground: rgb(72, 72, 90);

    --p_function:yellow;
    --p_normal: black;
    --p_parentheses: white;
    --p_keys: rgb(0, 153, 255);
    --p_method: rgb(0, 0, 0);
    --p_methodE:rgb(30, 255, 0);
}

body, html{
    color: var(--textColor);
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    /* font-family: "Raleway", sans-serif; */
    transition: 1s;
    scroll-behavior: smooth;
    zoom: 1;
    width: 100%;
    height: 100%;

  
}


/* GERAL */
a{
    text-decoration: none;
}

li{
    list-style: none;
}

 /* Banner */
.home-main-banner{
    position: relative;
    background: url(../img/paisagem.jpeg) top no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    color: #fff;
}

.overlay{
    background: url(../img/mask-banner.png) bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}



/* MAIN */
.main{
    /* 80px do header + valor  */
    margin-top: calc(100px + 10%); 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5%;
    align-items: flex-start;
}

.macbook{
    width: 70%;
    height: 100%;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.macbook .macbookImg{
    width: 100%;
    height: 100%;
    background: url(../img/macbook.png) bottom no-repeat;
    background-size: 100% auto;

}

.borderline{
    border: 3px solid var(--borderline);
    margin: 5% auto;
}

.contentMain{
    font-size: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* .ilustracao{
    display: flex;
    justify-content: center;
    align-items: center;
} */




.apresentation > h3::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: barraDigitacao .7s infinite;
}

@keyframes barraDigitacao{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
