@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
:root{
    --background: black;
    --borderline: white;
    --textColor: white;
    --border: white;
    --descricao: rgb(41, 41, 41);
    --progBackground: rgb(182, 182, 243);

    --p_function:rgb(187, 134, 161);
    --p_var: rgb(79, 184, 254);
    --p_normal: black;
    --p_parentheses: rgb(47, 0, 255);
    --p_keys: rgb(255, 255, 255);
    --p_method: rgb(220, 220, 139);
    --p_methodE:red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    color: var(--textColor);
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    /* font-family: "Raleway", sans-serif; */
    transition: 1s;
    scroll-behavior: smooth;
    /* zoom: 1; */
    width: 100%;
    height: 100%;
}


/* GERAL */
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

 /* Banner */
.home-main-banner{
    position: relative;
    background: url(../img/paisagem.jpg) top no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    color: #fff;
}

.overlay{
    background: url(../img/mask-banner.png) bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}



/* MAIN */
.main{
    /* 80px do header + valor  */
    margin-top: calc(100px + 10%); 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5%;
    align-items: flex-start;
}

.macbook{
    width: 70%;
    height: 100%;
   
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.macbook .slogan{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    /* background-color: rgb(255, 14, 14); */
    padding: 10%;

    position: absolute;
    top: -60px;
}

.macbook .macbookImg{
    width: 100%;
    height: 100%;
    background-image: url(../img/macbook.png) bottom no-repeat;
    background-size: 100% auto;

}

.borderline{
    border: 3px solid var(--borderline);
    margin: 5% auto;
}

.contentMain{
    font-size: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}