@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --background: rgb(180, 180, 180);  
    --borderline: black;
    --textColor: black;
    --border: black;
    --descricao: rgb(41, 41, 41);
    --progBackground: rgb(182, 182, 243);

    --p_function:blue;
    --p_normal: black;
    --p_parentheses: black;
    --p_keys: black;
    --p_method: green;
    --p_methodE:red;
}

html[data-theme="dark"]{
    --background: black;
    --borderline: white;
    --textColor: white;
    --border: rgb(170, 170, 170);
    --descricao:rgb(180, 180, 180);
    --progBackground: rgb(72, 72, 90);

    --p_function:yellow;
    --p_normal: black;
    --p_parentheses: white;
    --p_keys: rgb(0, 153, 255);
    --p_method: rgb(0, 0, 0);
    --p_methodE:rgb(30, 255, 0);
}

body, html{
    color: var(--textColor);
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    scroll-behavior: smooth;
    zoom: 1;
    width: 100%;
    height: 100%;
}



/* GERAL */
a{
    text-decoration: none;
}



/* MAIN */
.main{
    margin-top: calc(80px + 3%); /* 80px do header + valor*/ 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5%;
    align-items: flex-start;
}

.borderline{
    border: 3px solid var(--borderline);
    margin: 5% auto;
}

.contentMain{
    font-size: 30px;
    display: flex;
    flex-flow: column wrap;
}

.ilustracao{
    display: flex;
    justify-content: center;
    align-items: center;
}


.forlinkedin, .forgithub{
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2.5rem;
    width: 20rem;
    height: 4rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #000000;
    background-color: rgb(180, 180, 180);
    border: 1px solid var(--border);
    border-radius: 50px;
    font-size: 1.8rem;
    transition: 1s;
    /* background-color: #0a66c2; */
}

.forlinkedin i, .forgithub i{
    margin-left: 2rem;
}

.forlinkedin i, .forgithub i{
    position: static;
    font-size: 2.5rem;
}

.forgithub:hover{
    background-color: rgb(48, 48, 48);
    color: white; 
}

.forlinkedin:hover{
    border: none;
    background-color: #0a66c2;
    color: white;
}

.forlinkedin:hover  .color{
    display: none;
}

.forgithub:hover .color{
    display: none;
}

.nocolor{
    display: none;
}

.forlinkedin:hover .nocolor{
    display: block;
}

.forgithub:hover .nocolor{
    display: block;
}



.apresentation > h3::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: barraDigitacao .7s infinite;
}

@keyframes barraDigitacao{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
