@media only screen and (max-width: 1140px) {
    #about{
        /* flex-flow: column wrap; */
    }
}

@media only screen and (max-width: 850px) {
    /* Fazer dropdown menu no Header */
    #header{
        padding: 10px 70px;
        flex-flow: row wrap;
    }

    .h_contents{
        display: none;
    }

    .dropdown-content {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    

}

@media only screen and (max-width: 700px) {
    /* Ajeitar parde de Sobre mim */
    #about{
        flex-flow: column wrap;
    }

    .contentAbout{
        width: 80%;
    }


    /* Tirar simbolo G/P do footer e deixar com width com 100% */
    #footer > .logo{
        display: none;
    }

    .info{
        width: 100%;
        text-align: center;
    }
}