#projectSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;

    padding-bottom: 100px;
}

/* .contentProjects{ */
.projectContent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.projectContent>h1 {

    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;

}

.partProjects {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #858585;
    border: 2px solid black;
    border-radius: 10px;
    gap: 20px;
    padding: 15px;
    margin: 15px auto;
}

.project {
    --box-shadow: 0px 0px 12px #00000080;
    cursor: pointer;
    overflow: hidden;

    position: relative;

    width: 270px;
    height: 350px;

    flex-flow: column;
    justify-content: space-between;

    font-size: small;
    border: 2px solid black;
    border-radius: 20px;

    box-shadow: var(--box-shadow);
}

.project:hover {
    border: 2px solid white;
}

.project:hover .imgSettings{
    transform: scale(1.1);
}

.projectText {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .83);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    z-index: 2;
}

.projectLanguages {
    width: 100%;
    padding: 3px 10px;

    /* flex-flow: column; */
    gap: 5px;

    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .83);
    border-radius: 0px 0px 15px 15px;
    z-index: 2;
}

.languages {
    gap: 20px;
}

.languages>.skill {
    width: 30px;
    height: 30px;

    padding: 2px;
    border-radius: 5px;
}

.imgSettings {
    background-position: center;
    /* background-position: 50%; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%; */
}

.projectButtons button {
    padding: 15px;
    font-size: 17px;
    border: none;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    transition: 0.2s;
    cursor: pointer;
}

.projectButtons button:hover {
    background-color: #303030;
}

.github {
    transition: 0.2s;
    padding: 10px;
    border-radius: 20px;
}

.github>a {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.1%;
    color: black;
    text-decoration: none;
}

.github:hover {
    /* color: var(--textColor); */
    letter-spacing: 0.2%;
    background-color: #858585;
}