#p1{
    background-image: url("../img/ada.png");
    background-size: 190% 101%;
}

#p2{
    background-image: url("../img/poke-roulette.png");
}

#p3{
    background-image: url("../img/yt_clone.png");
}

#p4{
    background-image: url("../img/modos_gregos.png");
}

#p5{
    background-image: url("../img/GP-Computers.png");
}