#projectSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .contentProjects{ */
.projectContent{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

.projectContent h1{
    font-size: 30px;
}

.partProjects{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #858585;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px auto;
}

.project{
    border-radius: 20px;
    width: 270px;
    height: 350px;
    overflow: hidden;
    border: 2px solid black;
    margin: 10px 20px;
    cursor: pointer;
    padding: 2%;
    /* background-position: center;
    background-repeat: no-repeat; */
}

.projectText{
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 10px;
}

.imgSettings{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectButtons button{
    padding: 15px;
    font-size: 17px;
    border: none;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    transition: 0.2s;
    cursor: pointer;
}

.projectButtons button:hover{
    background-color: #303030;
}

.github{
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    color: var(--textColor);
    letter-spacing: 0.1%;
    transition: 0.5s;
}
.github:hover{
    color: var(--textColor);
    letter-spacing: 0.2%;
}
