.skills{
    width: 100%;
    padding: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, black 50%, white 50%);
    /* background-color: aqua; */
}



.carousel{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.carousel input{
    display: none;
}

.skill{
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 15px;

    background-color: white;

    padding: 10px;
}