footer{
    border-top: 2px solid rgb(0, 0, 0);
    height: 8.5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(231, 231, 231);
}
.contentFooter{
    margin: 1% 2%;
    display: flex;
    flex-flow: row wrap;
}
.icon{
    display: flex;
    flex-flow: column wrap;
    gap: 0.5%;
    margin-left: 48%;
}
.icon .part img{
    filter: grayscale(100%) contrast(100%);
    transition: 8s;
}
.icon .part img:hover{
    cursor: pointer;
    color: white;
    filter: none;
    transition: 0.2s;
}
